# Node.js / Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Saída de Build do Vite
dist/
dist-ssr/
*.local

# Configurações de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e arquivos temporários
*.log
temp/

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs e Editores
.vscode/*
.codesight/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln